@import url('https://fonts.googleapis.com/css?family=Grenze&display=swap');
body {
  height: 100vh;
}
.container-fluid {
  height: 100%;
}
#quote-box {
  position: relative;
  background-color: white;
  padding: 20px 20px;
  width: 500px;
  text-align: center;
  border-radius: 30px;
}

#quote-box::after {
  content: '';
  position: absolute;
  right: 50px;
  bottom: -25px;
  width: 50px;
  height: 50px;
  background: white;
  transform: rotate(45deg)
}

.row {
  transition: 1s;
}

blockquote {
  width: 100%;
  text-align: right;
  font-family: 'Grenze', serif;
}

#text {
  text-align: center;
  font-size: 1.9em;
}

#author {
  font-size: 1.5em;
}

.quoteIcon {
  margin-right: 10px;
}
button, #tweet-quote {
  height: 35px;
  border: none;
  border-radius: 5px;
  color: white;
  align-items: center;
  float: left;
  margin: 10px;
  cursor: pointer;
}

button:hover, #tweet-quote:hover {
  opacity: 0.9;
}

.buttons {
  width: 100%;
}

button:nth-child(1) {
  float: left;
  width: 50px;
  text-align: center;
}

button:nth-child(2) {
  position: absolute;
  float: right;
  z-index: 1;
  right: 10px;
}
